<template name="pollSubmit">
	<h2>Create a Poll</h2>
	<form class="form-horizontal" role="form">
	  <div class="form-group">
	    <label for="question" class="col-md-2 control-label">Question</label>
	    <div class="col-md-6">
	      <input type="text" class="form-control" name="question" placeholder="Ex: What should I eat today ?">
	    </div>
	  </div>
	  
	  <div class="form-group">
	  	<label for="option1" class="col-md-2 control-label">1.</label>
	  	<div class="col-md-6">
	  		<input type="text" class="form-control" name="option1" placeholder="Ex: Cheese">
	  	</div>
	  </div>

	  <div class="form-group">
	  	<label for="option2" class="col-md-2 control-label">2.</label>
	  	<div class="col-md-6">
	  		<input type="text" class="form-control" name="option2" placeholder="Ex: Nutella">
	  	</div>
	  </div>

	  <div class="form-group">
	  	<label for="option3" class="col-md-2 control-label">3.</label>
	  	<div class="col-md-6">
	  		<input type="text" class="form-control" name="option3" >
	  	</div>
	  </div>

	  <div class="form-group">
	  	<label for="option4" class="col-md-2 control-label">4.</label>
	  	<div class="col-md-6">
	  		<input type="text" class="form-control" name="option4" >
	  	</div>
	  </div>

	  <div class="form-group">
	    <div class="col-sm-offset-2 col-sm-10">
	      <button type="submit" class="btn btn-default">Create Poll</button>
	    </div>
	  </div>
	</form>

	<h2 style="margin-top: 40px">Previous Polls</h2>
	{{> pollList}}


</template>