<template name="pollSubmit">
	<h2>Create a Poll</h2>
	{{#autoForm schema="Polls" id="submitPollForm" class="form-horizontal"}}
		<div class="control-group">
	    	{{afFieldLabel 'question'}}            
	    	<div class="controls">
	      		{{afFieldInput 'question'}}
	    	</div>
	  	</div>
	  	<div class="control-group">
	    	{{afFieldLabel 'author'}}            
	    	<div class="controls">
	      		{{afFieldInput 'author'}}
	    	</div>
	  	</div>
	  	<button type="submit" class="btn btn-primary insert">Create Poll</button>
	{{/autoForm}}

	<h2 style="margin-top: 40px">Previous Polls</h2>
	{{> pollList}}
</template>